# History files
.Rhistory
.Rapp.history

# Session Data
.RData
.RDataTmp

# User-specific files
.Rproj.user/

# R Environment files created by renv
# We keep renv.lock and .Rprofile, but ignore the library itself
renv/library/
renv/staging/
renv/cellar/

# OS-specific files
.DS_Store
Thumbs.db

# Output dir
output/*.*
